<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.newpath">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".fragment.UserProfile">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.InitialPage" />
        <activity android:name=".activity.LoginPage" />
        <activity android:name=".activity.WheelsOfLife" />
        <activity android:name=".activity.RangeWheesLife" />
        <activity android:name=".activity.RangeWheelsLife_Two" />
        <activity android:name=".activity.SplashScreen" />
        <activity android:name=".activity.ChartGraph" />
        <activity android:name=".activity.ResultWheelsOfLife" />
        <activity android:name=".activity.RegisterEmail"></activity>
    </application>

</manifest>